NODE_ENV=development
API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
PATIENTS_SERVICE_PORT=3002
AGENDA_SERVICE_PORT=3003
PRONTUARIO_SERVICE_PORT=3007
FINANCE_SERVICE_PORT=3004
TISS_SERVICE_PORT=3008
WHATSAPP_SERVICE_PORT=3005
GOOGLE_SYNC_SERVICE_PORT=3006
NOTIFICATION_SERVICE_PORT=3009
WORKER_SERVICE_PORT=3010
JWT_SECRET=change_me
DATABASE_URL=postgres://postgres:postgres@postgres:5432/odontohub
REDIS_URL=redis://redis:6379
S3_ENDPOINT=http://minio:9000
S3_BUCKET=odonto-files
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
